/** Fuentes utilizadas por la pagina*/

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"), url("assets/fonts/Quicksand-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Atteron";
  src: local("Atteron"), url("assets/fonts/Atteron.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ceraroundpro";
  src: local("ceraroundpro"), url("assets/fonts/ceraroundpro-medium.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    url("assets/fonts/OpenSans-VariableFont.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Kanit";
  src: local("Kanit"), url("assets/fonts/Kanit-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: local("ProximaNova"), url("assets/fonts/ProximaNova-Regular.otf") format("truetype");
}
@font-face {
  font-family: "ProximaNovaLight";
  src: local("ProximaNova"), url("assets/fonts/Proxima-Nova-Alt-Light.otf") format("truetype");
}