/** Fuentes utilizadas por la pagina*/
@font-face {
    font-family: "Quicksand";
    src: local("Quicksand"), url("Quicksand-Regular.ttf") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Atteron";
    src: local("Atteron Personal Use"), url("Atteron.ttf") format("woff");
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: "Lexend";
    src: local("Lexend"), url("Lexend-Regular.ttf") format("woff");
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: "Urbanist";
    src: local("Urbanist"), url("fonts/Urbanist-Regular.ttf") format("woff");
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: "Outfit";
    src: local("Outfit"), url("fonts/Outfit-Regular.ttf") format("woff");
    font-style: normal;
    font-weight: normal;
  }