body {
  background-color: rgb(248, 248, 248);
}

main {
  padding-top: 3rem;
  position: relative;
}

/*Padding*/
/* top | right | bottom | left */

#productsCarousel {
  user-select: none;
  width: 100%;
  height: 100%;
  .swiper-button-next,
  .swiper-button-prev {
    color: black;
    padding: 2rem;
  }
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 1) 95%,
    rgba(0, 0, 0, 0)
  );
  #productsCarousel-swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #productsCarousel-swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}

#logoCarousel {
  user-select: none;
  width: 100%;
  height: 100%;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 1) 95%,
    rgba(0, 0, 0, 0)
  );

  .swiper-button-next {
    color: black;
    padding: 2rem;
    padding-left: 3%;
  }
  .swiper-button-prev {
    color: black;
    padding: 2rem;
    padding-right: 3%;
  }

  @media (max-width: 450px) {
    .swiper-button-next,
    .swiper-button-prev {
      --swiper-navigation-size: 30px;
      color: black;
    }
  }
  @media (max-width: 700px) {
    .swiper-button-next,
    .swiper-button-prev {
      --swiper-navigation-size: 30px;
      color: black;
    }
  }

  #logoCarousel-swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #logoCarousel-swiper-slide img {
    user-select: none;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.322);
    margin: 3rem;
  }
}

.section-recienllegados {
  padding: 5rem;

  .container-recienllegados {
    box-shadow: 0 1px 1rem rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 7px;
    .title-recienllegados {
      background-color: black;
      border-radius: 7px 7px 0 0;
      h1 {
        font-family: Montserrat;
        font-weight: 600;
        padding: 1rem 1rem 1rem 2.5rem;
        color: white;
        font-size: 1.6rem;
      }
    }
    .recienllegados-itemsContainer {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 2.26562488px;
      width: 100%;
      .recienllegados-item {
        border-radius: 7px;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        overflow: auto;
        word-wrap: break-word;

        justify-content: center;
        img {
          object-fit: cover;
          object-fit: cover;
          border-radius: 5px;
        }
        
        .recienllegados-textCont {
          display: flex;
          flex-direction: column;
          row-gap: 1rem;
          p {
            font-family: ProximaNovaRegular;
            font-size: 1.6rem;
            word-wrap: break-word;
          }
          #recienllegados-price {
            font-family: ProximaNovaLight;
            font-size: 2.2rem;
            font-weight: 600;
          }
        }
      }
      .recienllegados-item:hover {
        img{
          transform: scale(1.05);
          transition: all 0.2s ease;
        }
      }
  
      .recienllegados-item:not(:hover) {
        img{
          transform: scale(1);
          transition: all 0.2s ease;
        }
      }
    }
  }
}

@media (max-width: 590px) {
  .section-recienllegados {
    .container-recienllegados {
      .recienllegados-itemsContainer {
        grid-template-columns: 1fr 1fr;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

/**/
.section-categories {
  padding: 5rem;
  .container-categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 3rem;

    .categorie-item {
      display: flex;
      align-items: center;

      column-gap: 3rem;

      p {
        font-size: 2rem;
        font-family: Quicksand;
        font-weight: 800;
      }
      .categorie-IMGitem {
        display: grid;
        grid-column: auto;
        img {
          height: 10rem;
          width: 10rem;
          object-fit: cover;
          border-radius: 90px;
          border-color: black;
          border: 2px solid;
        }
      }
    }
    .categorie-item:hover {
      transform: scale(1.1);
      transition: all 0.2s ease;
    }

    .categorie-item:not(:hover) {
      transform: scale(1);
      transition: all 0.2s ease;
    }
  }
}
/*Media Queries for .section-categories and derivates*/
@media (max-width: 1300px) {
  .section-categories {
    .container-categories {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
@media (max-width: 855px) {
  .section-categories {
    .container-categories {
      .categorie-item {
        flex-direction: column;
        row-gap: 2rem;
      }
    }
  }
}
@media (max-width: 591px) {
  .section-categories {
    .container-categories {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.section-maps {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .mapa-MN {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.322);
    border-radius: 7px;
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}
