* {
  padding: 0;
  margin: 0;
}

/** root: variables comunes usadas a lo largo del codigo */
:root {
  --normal-font: Quicksand;
  --MN-font: Atteron;
  --fuente: Urbanist;
  --titles: Work Sans;
}

/**  Configuracion general de los estilos de fuente de la pagina*/
a,
p {
  font-family: var(--normal-font);
}

#MN-Text {
  font-family: var(--MN-font);
  font-size: 1.5rem;
}
#MN-Complement-text {
  font-family: var(--normal-font);
  font-size: 0.7rem;
}

h1,
h2,
a,
p {
  text-decoration: none;
  color: black;
  font-family: Lexend;
}

/** Configuracion de estilo*/

body {
  background-color: rgb(241, 241, 236);
}

header {
  background-color: ghostwhite;
  display: flex;
  flex-direction: row;
  width: 100%;

  /* * The following elements add the gradient separator to the header */

  border-color: rgb(218, 218, 218);
  border-bottom-width: 1px;
  border-top-width: 0px;
  border-bottom-style: solid;
  border-top-style: solid;

  /* //Font-styles */
  img {
    width: 3.5rem;
  }

  .MN-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem;
    column-gap: 1.5rem;

    .MN-text-cont {
      align-items: center;
      a {
        text-decoration: none;
      }
    }
  }

  border-color: rgba(234, 234, 234, 1);
  border-bottom-width: 1px;
  border-top-width: 0px;
  border-bottom-style: solid;
  border-top-style: solid;
  box-shadow: 0 4px 10px -8px rgba(0, 0, 0, 0.6);
  border-radius: 5px;

  nav {
    background-color: ghostwhite;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex: 1;

    align-items: center;

    a {
      text-decoration: none;
      font-size: 1.01em;
      font-weight: 600;
      color: black;
    }
  }
}

slideshow-galeria {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  img.contain {
    object-fit: contain;
  }
  max-width: 100%;
  position: relative;
  margin: auto;

  a {
    position: absolute;
    top: 50%;
    z-index: 100;
    font-size: 48px;
    color: #fff;
    margin-top: -24px;
    opacity: 0;
    transition: translateX(-5rem);
    img {
      width: 3rem;
      transition: translateX(-5rem);
    }
  }
  a:hover {
    opacity: 1;
    transform: translateX(-10px);
    -webkit-transition: all 0.1.5s ease-in-out;
    transition: all 0.1.5s ease-in-out;
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .black-color {
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.cont-slide-text {
  z-index: 100;
  position: absolute;
  padding: 10rem 8rem;
  h1 {
    color: white;
    font-size: 3rem;
    font-family: Lexend;
  }
  p {
    color: white;
    font-size: 1rem;
    font-family: var(--fuente);
  }
}

.cont-slide-textContainer {
  padding: 2.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  width: 70vh;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.dots-cont {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 0.7rem;
  width: 0.7rem;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.categories-margin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin: 2rem;

  h1 {
    font-family: var(--titles);
    font-weight: 600;
    line-height: 22px;
  }
  img {
    height: 6rem;
  }

  .catego-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    h1{
      font-size: 1.7rem;
    }
  }
  .categories-table {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .categorie-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      border-radius: 5px;
    }
  }
}
